.dark-theme .header a, .dark-theme .header a:hover,
.dark-theme .footer a, .dark-theme .footer a:hover,
.dark-theme h2 a, .dark-theme h2 a:hover,
.dark-theme .footer__content{
    color: #a9a9b3;
}

.header a, .header a:hover,
.footer a, .footer a:hover,
h2 a, h2 a:hover,
.footer__content{
    color: rgba(0, 0, 0, 0.87);
}

.dark-theme a{
    color: #61d2d2;
}

a{
    color: #2070BF;
}

.break-all{
    word-break: break-all!important;
}

.max-width-100{
    max-width: 100%;
}

.ui.dimmer{
    z-index: 20001
}

.ui.modal{
    z-index: 20002;
}

@media only screen and (max-width: 767px){
    .ui.stackable.cards > .card {
        width: calc(80% - 2em)!important;
        margin-left: auto;
        margin-right: auto;
    }
}


blockquote {
    margin-left: 0;
}

.content *{
    line-height: 1.8rem!important;
}

.content p{
    margin-top: 20px;
}

.content li{
    margin-top: 10px;
}