{{ $verbformHeadings := .Site.Data.german.verbs.verbformHeadings }}
<table class="ui table celled inverted unstackable" id="verbsTable">
    <thead>
        <tr class="center aligned">
            <th>Verb</th>
            <th>Meaning</th>
            <th>Verb Forms</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Site.Data.german.verbs.verbs }}
            {{ range .verb }}
                <tr>
                    <td>{{ .name }}</td>
                    <td>{{ .meaning }}</td>
                    <td class="center aligned px-0">
                        <button class="ui button inverted conjugationModalTrigger max-width-100 mx-1 small" data-target="{{.name}}ConjugationModal">
                            <small>Conjugate</small>
                        </button>
                        <div class="ui small modal" id="{{ .name }}ConjugationModal">
                            <i class="close icon"></i>
                            <div class="header">
                              {{ .name }}
                            </div>
                            <div class="content">
                                <table class="ui table inverted border compact unstackable">
                                    
                                    {{ range $key, $value := .forms}}
                                    <tr>
                                        <th class="one wide">{{index $verbformHeadings $key}}</th>
                                        <td class="two wide border">{{ $value }}</td>
                                    </tr>
                                    {{ end }}
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            {{ end }}
        {{ end }}
    </tbody>
</table>